
@{
    ViewData["Title"] = "Address";
}

<h1>Address</h1>
<select id="select1">
    @*<option value=""></option>*@
</select>
<select id="select2">
    @*<option value=""></option>*@
</select>
<select id="select3">
    @*<option value=""></option>*@
</select>

@section Scripts{
    <script>
        const selCity = document.querySelector("#select1")
        const selSite = document.querySelector("#select2")
        const selRoad = document.querySelector("#select3")

        async function LoadCities() {
            let response = await fetch("@Url.Content("~/api/city")")
            let datas = await response.json()
            datas.forEach(city => {
                const opt = new Option(city, city)
                selCity.options.add(opt)
            })
        }
        LoadCities()

        selCity.addEventListener("change", async () => {
            //console.log(selCity.options[selCity.selectedIndex].value)
            const url = "@Url.Content("~/api/site")"
            const params = `?city=${selCity.options[selCity.selectedIndex].value}`
            let response = await fetch(url + params)
            let datas = await response.json()
            //console.log(datas)
            selSite.options.length = 0
            datas.forEach(site => {
                const opt = new Option(site, site)
                selSite.options.add(opt)
            })
        })
        selSite.addEventListener("change", async () => {
            const url = "@Url.Content("~/api/road")"
            const params = `?site=${selSite.options[selSite.selectedIndex].value}`
            let response = await fetch(url + params)
            let datas = await response.json()
            selRoad.options.length = 0
            datas.forEach(road => {
                const opt = new Option(road, road)
                selRoad.options.add(opt)
            })
        })

        @*
         selCity.addEventListener("change", async () => {
           //載入鄉鎮區
           //載入路名
            await loadSite()
            await loadRoad()
        })
        selSite.addEventListener("change", async () => {
            //載入路名
            await loadRoad()
        })

        async function ajaxCall(url,sel,cb) {
            let response = await fetch(url)
            let datas = await response.json()
            cb(sel,datas)
        }
         //網頁第一次載入時要同時
        //載入城市
        //載入鄉鎮區
        //載入路名
        //IIFE
        (async function () {
            await loadCity()
            await loadSite()
            await loadRoad()
        }())
        async function loadCity() {
            await ajaxCall("@Url.Content("~/api/city")", selCity, rendering)
        }
        async function loadSite() {
            const city = selCity.options[selCity.selectedIndex].value
            await ajaxCall("@Url.Content("~/api/site")" + `?city=${city}`, selSite, rendering)
        }
        async function loadRoad() {
            const site = selSite.options[selSite.selectedIndex].value
            await ajaxCall("@Url.Content("~/api/road")" + `?site=${site}`, selRoad, rendering)
        }
        function rendering(sel, datas) {
            sel.options.length = 0
            datas.forEach(city => {
                const opt = new Option(city, city)
                sel.options.add(opt)
            })
        }
        *@

    </script>
}